includes:
  - vendor/jangregor/phpstan-prophecy/extension.neon
  - vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
  level: 8
  paths:
    - Classes
    - Tests

  ignoreErrors:
    - '#Cannot call method (emergency|alert|critical|error|warning|notice|info|debug|log)\(\) on Psr\\Log\\LoggerInterface\|null#'
